*,
*::before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}
body.dark {
  background-color: aqua;
}

textarea {
  resize: none;
}

.FormContainer {
  display: grid;
}

.CardContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  margin-top: 32px;
  padding-left: 10%;
  padding-right: 10%;
  row-gap: 2rem;
  column-gap: 2rem;
}

.card {
  border: solid 1px red;
}

/* CHANGE LATER */
.EditModal form {
  display: flex;
  flex-direction: column;
}
.SubmitButton {
  width: 200px;
}

.ReactModal__Overlay,
.ReactModal__Overlay--after-open,
.ViewModal {
  margin-right: auto;
}
